@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html {
    scroll-behavior: smooth;
}

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    overflow-x: hidden;
}

.navlogo{

    transition: transform .5s ease-in;
}


.navlogo:hover {
    transform: rotate(360deg);
}

.urbanist {
               font-family: "Urbanist", sans-serif;
               font-optical-sizing: auto;
               font-weight: 200;
               font-style: normal;
}


a.icon-twitter:hover        {color:#00B6F1;}    /* Change to desired color */
a.icon-linkedin:hover       {color:#3B5998;}    /* Change to desired color */
a.icon-instagram:hover      {color:#833ab4;}    /* Change to desired color */
a.icon-discord:hover        {color:#7289da;}    /* Change to desired color */
a.icon-steam:hover          {color: #041e4b;}    /* Change to desired color */
a.icon-youtube:hover          {color:#ff0000;}    /* Change to desired color */

body{
    font-family: "Urbanist", serif;
}

.heavy-font{
    font-family: "Bungee", serif;
}

.video-container {
    position: relative;
    width: 50%;
}

.container2 {
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    width: 300px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}

.main-container{
    margin-left: 10%;
    margin-top: 5%;
}

.image:hover, .image:active {
    cursor : pointer;
}

.image {
    width: 300px;
    height: auto
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 300px;
    border-radius: 9999px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0,0,0,0.5);
}

.container2:hover .overlay {
    opacity: 1;
    cursor : pointer;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



#cover {
    position: absolute;

}

:root {
    --cards: 4;
    --cardHeight: 55vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}

.container-slide {
    width: 60%;
    margin: 0 auto;
}



.sm-container{
    width: 75%;
    margin: 5% auto;
}

.trans-background{
    clear: both;
    background: rgba(255, 255, 255,0.3);
}

#cards {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);

}

#card1 {
    --index: 1;
}
#card2 {
    --index: 2;
}
#card3 {
    --index: 3;
}
#card4 {
    --index: 4;
    margin-bottom: 5%;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
    background-color: #D4AFB9;
}
#card2 .card-body {
    /* background-color: #7EC4CF; */

    background-color: #9CADCE;
}
#card3 .card-body {

    background-color: #52B2CF;
}
#card4 .card-body {
    background-color: #E5A36F;
}

.card-body {
    box-sizing: border-box;
    padding: 30px;
    overflow:hidden;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    height: var(--cardHeight);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

}

h2 {
    font-size: 2.5em;
}



/* HERE */

.containerTeam {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerTeam .box {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 2rem;
}

.containerTeam .box:hover .imgBox {
  transform: translate(-0rem, -3rem);
}

.containerTeam .box:hover .content {
  transform: translate(0rem, 3rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h2 {
  display: block;
  font-size: 1.4rem;
  color: #111;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.main-page-div {
    min-height: 1000px;
}

@media (max-width: 600px) {
  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
  .main-page-div {
      min-height: 1200px;
  }
}




/* HERE */






@media only screen and (min-width: 300px) and (max-width: 1200px){
    .image{
        width: 300px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 300px;
        border-radius: 9999px;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(0,0,0,0.7);
    }

    .container-slide {
        width: 80%;
        min-height: 1000px;
        margin: 0 auto;
    }

}


